.header__row {
    .header__columns {
        padding-block: 0.3rem;

        .header__drawer {
            min-height: unset !important;
        }
    }

    &:hover {
        background-color: white !important;
    }
}

body {
    &.nav-color-light {
        .header__row {
            background-color: #ffffff80;
        }
    }

    &.nav-color-transparent {
        .header__row {
            background-color: transparent;
        }
    }
}

#header-component {
    height: 0;
}