.html,
body {
    margin: 0;
}

.teaser-video-wrapper {
    width: 100%;
    height: 100svh;

    @media screen and (min-width: 768px) {
        height: 300svh;
    }

    .video-wrapper {
        position: sticky;
        top: 0;
        height: 0;

        .teaser-video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .overlay-wrapper {
        position: sticky;
        top: 0;
        height: 0;

        .overlay {
            width: 100%;
            height: 100vh;
            background: linear-gradient(to top, #00000099, rgba(0, 0, 0, 0));
        }
    }

    .image-wrapper {
        position: sticky;
        top: 0;
        width: 100%;
        height: 0vh;


        img {
            position: absolute;
            top: 50vh;
            left: 50%;
            translate: -50% -50%;
            width: 85vw;
            height: auto;

            @media screen and (min-width: 768px) {
                width: 65vw;
            }
        }
    }

    .text-wrapper {
        position: sticky;
        top: 100vh;
        translate: 0 50vh;
        transform: translateY(50%);
        font-family: var(--font-paragraph--family);
        text-align: center;
        color: white;
        // font-family: system-ui;

        .first-text {
            font-size: 2rem;
        }

        .second-text {
            font-size: 1.6rem;
        }
    }


}

.placeholder {
    height: 100vh;
}


.test {
    height: 300vh;
    background-color: aqua;
}